<AuthorizeView>
    <Authorized>
        <a href="Account/Logout">Log out @(context.User.Identity?.Name ?? "??")</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>